table 
{
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    overflow: hidden;
}
​
tr:nth-child(even)
{
    background: #f2f1f0;
}
​
tr:hover 
{
    color: #ffffff;
    background: #737373;
}
​
td:hover
{
    position: relative;
} 
​
td:hover::before,  
td:hover::after
{
    content: "";
    height: 9999px;
    width: 100%;
    background: rgba(150, 150 , 150 ,.4);  
    position: absolute;
    left: 0;
}
​
td::before
{
    top: -9999px;
}
​
td::after{
    bottom: -9999px;
}

