table 
{
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

tr:nth-child(even)
{
    background: #f2f1f0;
}

tr:hover 
{
    color: #ffffff;
    background: #737373;
}

