table 
{
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    overflow: hidden;
}

tr:nth-child(even)
{
    background: #f2f1f0;
}

tr:hover 
{
    color: #ffffff;
    background: #737373;
}

td:hover
{
   position: relative;
} 

td,
th
{
    position: relative;
    text-align: center;
}
    
td:hover::before,
td:hover::after
{
    background: rgba(150, 150 , 150 ,.4);
    content:"";
    height: 9999px;
    left:0;
    position: absolute;
    width: 100%;
}

td::before
{
    top: -9999px;
}

td::after,
th::after
{
    top: 0px;
}
